<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="bg-gray-200 font-Montserrat">
    <div class="h-screen w-screen flex justify-center items-center">
        <div class="relative w-11/12 h-132 bg-white shadow-xl rounded-md flex justify-center items-center sm:w-9/12 sm:h-128">
            <h1 class="absolute -mt-20 text-xl font-bold text-slate-700 sm:text-3xl">Sistem Login & Registrasi</h1>
            <div class="mx-auto w-4/5 h-1 bg-slate-700 sm:w-3/5"></div>
            <div class="mx-auto flex absolute justify-center mt-20 gap-5 sm:gap-7">
                <a href="/login" class="bg-cyan-400 hover:bg-cyan-600 text-white rounded shadow-lg transition-colors px-5 py-3 mt-5 sm:px-11">Masuk</a>
                <a href="/register" class="bg-cyan-400 hover:bg-cyan-600 text-white rounded shadow-lg transition-colors px-5 py-3 mt-5 sm:px-11">Daftar</a>
            </div>
            <h1 class="text-xs absolute bottom-0 text-white sm:text-slate-700">Powered by Node.js, MongoDB, Express.js, TailwindCSS</h1>
            <h1 class="text-xs absolute right-0 bottom-0 text-slate-700 lg:left-0">github.com/noire-xv</h1>
        </div>
    </div>
</body>
</html>